<section class="container">
  <div>
    <h1 class="text-center mb-2">Connexion</h1>
    <div *ngIf="errorMessage" class="text-center text-danger">{{errorMessage}}</div>
    <div class="d-flex justify-content-center">
      <form (ngSubmit)="onSubmit()" [formGroup]="formUser">
        <input class="d-block mb-3" type="text" placeholder="nom d'utilisateur" formControlName="username" autofocus/>
        <input class="d-block mb-3" [type]="showPassword ? 'text' : 'password'" placeholder="mdp" formControlName="password" autofocus/>
        <p class="text-center" (click)="passwordToggle()">{{textPassword}} le mot de passe</p>
        <div class="text-center pt-0">
          <button class="bouton" type="submit">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
</section>


