
<footer class="container-fluid">
  <div class="containerfooter d-flex justify-content-between align-items-center mt-5">
    <article>
      <h1 data-aos="fade-down" class="ml-3">AutoCaz<span>Vintage</span></h1>
    </article>
<!--    <div data-aos="zoom-in"></div>-->
    <article>
      <h3 class="font-weight-bolder text-center">Notre équipe</h3>
      <section class="d-flex">
        <div  class="mr-5">
          <img src="../../../assets/img/matthiey.png" alt="Photo de profil matthieu">
          <p class="text-center">Matthieu</p>
        </div>
        <div  class="mr-5">
          <img src="../../../assets/img/pablo.png" alt="Photo de profil pablo">
          <p class="text-center">Pablo</p>
        </div>
        <div >
          <img src="../../../assets/img/constance.png" alt="Photo de profil constance">
          <p class="text-center">Constance</p>
        </div>
      </section>
    </article>
<!--    <div data-aos="zoom-in"></div>-->
    <article data-aos="fade-up">
      <a href="#"><img src="../../../assets/img/twitter.png" alt="logo twitter"></a>
      <a href="#"><img src="../../../assets/img/facebook.png" alt="logo facebook"></a>
      <a href="#"><img src="../../../assets/img/insta.png" alt="Logo instagram"></a>
    </article>
  </div>
</footer>
