<ngx-headroom>
<header [ngClass]="{'border':showSearch}" class="d-flex align-items-center justify-content-between">
  <h1 routerLink="/annonce" class="ml-3" id="logo" >AutoCaz<span>Vintage</span></h1>
  <div id="searchLogoDiv" [ngClass]="{'mL':showLogin}">
    <img src="../../../assets/img/loupe.png" id="search" (click)="toggleSearch()">
  </div>
    <div class="d-flex align-items-center justify-content">
      <img src="../../../assets/img/compte.png" id="perso" class="mr-3 py-1" (click)="showLogin = !showLogin">
      <!--      DIV LOGIN     -->
      <div class="hide1" id="connexionHide" [@loginAnimation]="stateLogin()" [ngClass]="{'hide':showLogin === false}" >
        <input type="text" placeholder="Nom d'utilisateur" class="mr-3">
        <input type="password" placeholder="Mot de passe" class="mr-3">
        <img src="../../../assets/img/fleche.png" alt="confirmer connexion" id='fleche' class="mr-3">
      </div>
      <!--      DIV LOGIN     -->
    </div>
  </header>


  <section class=" mt-1"id="recherche" [@searchAnimation]="stateSearch()" [ngClass]="{'search':showSearch,'noSearch':!showSearch}">
    <div class="text-center pt-2">
      <select name="marque" id="marque">
        <option value="">Marque</option>
      </select>
      <select name="modele" id="modele">
        <option value="">Modèle</option>
      </select>
      <select name="carbu" id="carbu">
        <option value="">Carburant</option>
      </select>
      <select name="annee" id="annee">
        <option value="">Année</option>
      </select>
      <select name="kilom" id="kilom">
        <option value="">Kilometrage</option>
      </select>
      <select name="prix" id="prix">
        <option value="">Prix</option>
      </select>
      <button type="submit" class="bouton ml-3">Rechercher</button>
    </div>
  </section>
</ngx-headroom>


