<ngx-headroom>
  <header [ngClass]="{'border':showSearch}" class="d-flex align-items-center justify-content-between">
    <div>
      <h1 routerLink="/annonce" class="ml-3" id="logo">AutoCaz<span>Vintage</span></h1>

    </div>
    <div class="d-flex align-items-center justify-content">
      <div class="mr-2" *ngIf="connectedUser"> {{connectedUser.nom}} {{connectedUser.prenom}}</div>
      <img src="../../../assets/img/compte.png" id="perso" class="mr-2 py-1" [routerLink]=[connected]>
      <img src="../../../assets/img/loupe.png" id="search"  class="mr-2" (click)="toggleSearch()">
      <img *ngIf="connectedUser" src="../../../assets/img/exit.png" alt="deconnexion" class="mr-3" (click)="signOut()">
    </div>
  </header>


  <section class=" mt-1" id="recherche" [@searchAnimation]="stateSearch()"
           [ngClass]="{'search':showSearch,'noSearch':!showSearch}">
    <div class="text-center pt-2">
      <select name="marque" id="marque">
        <option value="">Marque</option>
      </select>
      <select name="modele" id="modele">
        <option value="">Modèle</option>
      </select>
      <select name="carbu" id="carbu">
        <option value="">Carburant</option>
      </select>
      <select name="annee" id="annee">
        <option value="">Année</option>
      </select>
      <select name="kilom" id="kilom">
        <option value="">Kilometrage</option>
      </select>
      <select name="prix" id="prix">
        <option value="">Prix</option>
      </select>
      <button type="submit" class="bouton ml-3">Rechercher</button>
    </div>
  </section>
</ngx-headroom>


