<ngx-headroom>
  <header class="d-md-flex align-items-center justify-content-between">
    <h1 routerLink="/annonce" class="ml-3 text-center" id="logo">AutoCaz<span>Vintage</span></h1>
    <div class="d-md-none">TEST</div>
    <ul class="d-md-flex align-items-center justify-content d-none">
      <li class="mr-2 " *ngIf="connectedUser"> {{connectedUser.nom}} {{connectedUser.prenom}}</li>
      <li><img src="../../../assets/img/compte.png" id="perso" class="mr-2 py-1" alt="profil" [routerLink]=[connected]></li>
      <li><img src="../../../assets/img/loupe.png" id="search" class="mr-2 " alt="rechercher" (click)="toggleSearch()"></li>
      <li><img *ngIf="connectedUser" src="../../../assets/img/exit.png" alt="deconnexion" class="mr-3" (click)="signOut()"></li>
      <li><button  *ngIf="connectedUser.roles == 'ROLES_ADMIN'" id="admin" class="btn btn-danger mr-3" routerLink="admin">A</button></li>
    </ul>

  </header>


  <section class=" mt-1" id="recherche" [@searchAnimation]="stateSearch()"
           [ngClass]="{'search':showSearch,'noSearch':!showSearch}">
    <div class="text-center pt-2">
      <select name="marque" id="marque">
        <option value="">Marque</option>
      </select>
      <select name="modele" id="modele">
        <option value="">Modèle</option>
      </select>
      <select name="carbu" id="carbu">
        <option value="">Carburant</option>
      </select>
      <select name="annee" id="annee">
        <option value="">Année</option>
      </select>
      <select name="kilom" id="kilom">
        <option value="">Kilometrage</option>
      </select>
      <select name="prix" id="prix">
        <option value="">Prix</option>
      </select>
      <button type="submit" class="bouton ml-3">Rechercher</button>
    </div>
  </section>
</ngx-headroom>


